body {
	background-color: maroon;
	color: white;
	font-family: Helvetica;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}

div.hello {
	border: 10px solid black;
	padding: 10px;
	margin: 20px;
}

div.cage {
	border: 10px solid black;
	padding: 10px;
	margin: 20px;
}

div.vegan {
	border: 10px solid black;
	padding: 10px;
	margin: 20px;
}