img.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1.Title {text-align: center;}

h2.Beef {text-align: center;}

h3.Filet {text-align: center;}

body {
	background-color: red;
	border: 50px solid black;
	margin: 10px;
	font-family: Helvetica;
}

div.donate {text-align: center;}

div.video {text-align: center;
	margin-top: 10px;
<<<<<<< HEAD
=======
	margin-bottom: 10px;
>>>>>>> fa2ab4788b5f47b5d07a8426985a1fc0165ae159
}